# Web scraping by python
Practice web scraping from IMDB top 100

In [ ]:
!pip install gazpacho

In [ ]:
from gazpacho import Soup
from requests import get
import pandas as pd

In [ ]:
url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"

resp = get(url)
rest_code = resp.status_code
print(f"status code : {rest_code}") #check authorize to scapdata and url correctively

imdb = Soup(resp.text)

# Title
titles_raw = imdb.find('h3',{'class':'lister-item-header'})
title_clean = []
for title in titles_raw:
    title_clean.append(title.strip())

# Rating
ratings = imdb.find('div',{'class':'inline-block ratings-imdb-rating'})
ratings = [float(rating.strip()) for rating in ratings]

# to DataFrame
imdb_movie_rat = pd.DataFrame({
    "Movie_name" : title_clean,
    "Rating" : ratings
})

In [ ]:
imdb_movie_rat.head()

                                          Movie_name  Rating
0                 1. The Shawshank Redemption (1994)     9.3
1                            2. The Godfather (1972)     9.2
2                          3. The Dark Knight (2008)     9.0
3  4. The Lord of the Rings: The Return of the Ki...     9.0
4                         5. Schindler's List (1993)     9.0